# Ignore DS files:
*.DS_Store

# Ignore various folders:
bash_scripts/**
logs/**
NOT_NECESSARY/**
plots/**
RESULTS/**
santiRESULTS/**
modules/build/**

# Not sure working:
modules/**/*.so
modules/*.c
modules/*.o
OUTPUT/*.csv

# Temp for EUCLID new data:
*header.pxi
