# Ignore DS files:
*.DS_Store

# Ignore various folders:
bash_scripts/**
logs/**
NOT_NECESSARY/**
plots/**
RESULTS/**
santiRESULTS/**
modules/build/**
INPUT/**
OUTPUT/**
RANDOM_CRAP/**
OLD plot stuff/**

# Not sure working:
modules/*.so
modules/*.c

# Temp for EUCLID new data:
*header.pxi
